.drawerFilterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.filterLabel {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.filterSlider {
  width: 80%;
  display: block;
}
