.drawerContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: none;
}

.drawerInnerContainer {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

.closeIcon {
  width: 1%;
  color: #000;
  cursor: pointer;
  padding: 5px;
}

.drawerHandle {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background-color: #444;
  margin: 0 auto;
}

.drawerContent {
  padding: 20px;
}

.filterCta {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #4ea4d2;
}
