.searchTagContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding-top: 8px;
}

.chipContainer {
  background-color: #fff;
  min-height: 80px;
  padding: 10px;
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
}

.chip {
  max-height: 25px !important;
  overflow: hidden;
  border-radius: 5px !important;
  padding: 10px !important;
}
